In [46]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
from pymongo import MongoClient

In [17]:
#database_connection = create_engine("sqlite:///sample.db")
#dataframe = pd.read_sql_query('SELECT * FROM data', database_connection)

In [20]:
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [24]:
create_table = '''
    CREATE TABLE employee(
    first_name char(20) not null,
    last_name char(20),
    age int,
    sex char(1),
    income float)
'''

In [33]:
cursor.execute(create_table)
conn.commit()

In [36]:
insert_employee_1 = '''
    INSERT INTO employee
    (first_name, last_name, age, sex, income) VALUES
    ('milo', 'espitia', 26, 'M', 10000)
'''

insert_employee_2 = '''
    INSERT INTO employee
    (first_name, last_name, age, sex, income) VALUES
    ('Ruben', 'Espitia', 28, 'M', 20000)
'''

cursor.execute(insert_employee_1)
cursor.execute(insert_employee_2)

In [38]:
conn.commit()

In [41]:
select = 'SELECT * FROM employee'

cursor.execute(select)
result = cursor.fetchall()
print(result)

[('milo', 'espitia', 26, 'M', 10000.0), ('Ruben', 'Espitia', 28, 'M', 20000.0)]

In [43]:
database_connection = create_engine("sqlite:///example.db")
df = pd.read_sql_query('SELECT * FROM employee',database_connection)
df

  first_name last_name  age sex   income
0       milo   espitia   26   M  10000.0
1      Ruben   Espitia   28   M  20000.0

In [44]:
update = '''UPDATE employee SET age = 29 WHERE sex = 'M' '''
cursor.execute(update)

In [50]:
client = MongoClient()
db = client.test
employee = db.employee

In [ ]:
employee_detail = {
    'Name':'Milo Espitia',
    'Address': 'Sears Street, NZ',
    'Age': '28'
}

result = employee.insert_one(employee_detail)

In [ ]:
employee.update_one(
    {'Age':'28'},
    {'$set':{
        'Name': 'Camilo Espitia',
        'Age' : '30'
    }
    }
)